/******************
    common
         **********************/

html,body{
    margin: 0;
    width: 100% auto;
    height: 100% auto;
}
.text {
    position:absolute;

}

/***********Home page ***************/


    /**********Body***************/
.logo {
    position: absolute;
    top: 0%;
    left: 0%;
}
.banner {
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
}
.icon-image img {
    height: 25px;
}
.add-button {
    background-color: #59AF0F;
    cursor: pointer;
    display: inline-block;
    text-align: center;
}
.shop-row {
    width: 25%;
}
#search-icon {
    position:absolute;
    top: 2%;
    right: 25%;
    
}
#shopping-icon {
    position:absolute;
    top: 2%;
    right: 28%;
}
#user-icon {
    position:absolute;
    top: 2%;
    right: 31%;
}
.text{
    position: absolute;
    top: 15%;
    left: 12%;
}
.text h1{
    font-size: 90px;
    margin-bottom: 0%;
}
.text hr{
        border: solid 3px black;
}
.text {
    position: absolute;
    top: 45%;
    left: 25%;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: whitesmoke;
    padding: 0px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
  }
img.footer{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%; 
}

h3.adds {
    text-align: center;
}
h2.contact {
    text-align: center;
}
h5.copyright {
    text-align: center;
}